* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(180deg,#20b2abd7 0%, rgba(234, 255, 0, 0.505) );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.container {
    background-color: rgba(128, 128, 128, 0.105);
    min-width: 300px;
    width: 40%;
    min-height: 500px;
    height: 70vh;
    box-shadow: -5px 5px 50px rgba(0, 0, 0, 0.146);
    
}

.new-task-container {
    border: 1px solid white;
    border-radius: 10px;
    height: 30%;
    width: 90%;
    margin: 2rem auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.new-task-container * {
    height: 30%;
}

.new-task-container .new-task-input {
    padding: 5px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #19BF59;
    color: #19BF59;
    width: 90%;
}
.new-task-container .new-task-input:focus{
    outline: none;
    border: 2px solid #19BF59;
}
.error {
    border: 2px solid red !important;
}
.error::placeholder{
    color: red !important;
}


.new-task-container .new-task-button {
    border: 1px solid white;
    border-radius: 20px;
    width: 30%;
    background-color: #19BF59;
    color: white;
    cursor: pointer;

}
.new-task-container .new-task-button:hover {
    background-color: #18aa50;
}

.amount-div {
    color: white;
    padding: 10px;
    width: 90%;
    margin: auto;
    display: flex;
    gap: 10px;
}

.task-container {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    height: 40%;
    padding: 10px;
    margin: auto;
    overflow-y: auto;
}
.task-container::-webkit-scrollbar{
    width: 10px;
}
.task-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: white;
}
.task-container::-webkit-scrollbar-thumb {
    background-color: #19BF59;
    border-radius: 10px;

}


.task-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.090);
    padding: 10px;
    cursor: pointer;
    color: #19BF59;
}
.task-item > i {
    background-color: #19BF59;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
}
.task-item > i:hover {
    background-color: #18aa50;
}


.completed {
    text-decoration: line-through;
    color: gray;
    border-color: green !important;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

footer {
    color: white;
    font-weight: 100;
    font-size: 0.7em;
    position: absolute;
    bottom: 1rem;
    text-shadow: 1px -1px black, -1px 1px black, 1px 1px black, -1px -1px black;
}